/* Get a Quote */
.quote {
    padding: 66px 0 6px;
    background-color: #f06c64;
    border: solid 6px #ea676b;
}

.qoute__title {
    margin-bottom: 26px;

    font-family: "Lato Black", sans-serif;
    font-size: 3.0rem;
    font-weight: 400;
    color: #f0d8d9;

    line-height: 17.86px;
    letter-spacing: -.52px;
}

.quote__subtitle {
    margin-bottom: 42px;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
    color: #f0d8d9;
    text-align: justify;
    letter-spacing: -.5px;
}

.quote__inner {
    display: flex;
    justify-content: space-between;
}

.quote__contact_info {
    width: 33.33%;
    padding-left: 12px;
}

.quote__contact_title {
    margin-bottom: 9px;
    font-family: "Lato Black", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #f0d8d9;
}

.quote__contact_text {
    margin-bottom: 24px;
    max-width: 298px;
    color: #f0d8d9;
    font-family: 'Lato Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;

    text-align: justify;
    letter-spacing: -.1px;
}

.quote__contact_list {
    list-style: none;
}

.quote__contact_item {
    padding-left: 2px;
    margin-bottom: 1px;
}
.quote__contact_item:first-child {
    padding-left: 4px;
}

.quote__contact_item:first-child img {
    margin-right: 9px;
}

.quote__contact_item:last-child {
    margin-top: 3px;
    padding-left: 1px;
}

.quote__contact_item img {
    margin-right: 8px;
}

.quote__contact_link {
    text-decoration: none;
    color: #f0d8d9;
    font-family: 'Lato regular', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -.2px;
}

.quote__contact_link:hover {
    text-decoration: underline;
}


/* Form */

.form {
    width: 66.66%;
    padding-right: 7px;
}
.input {
    display: block;
    padding: 12px 15px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;

    color: #f48c8f;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
}

.input::placeholder {
    color: #f48c8f;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.input--area {
    resize: none;
    height: 202px;
}

.btn {
    display: block;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Lato Regular', sans-serif;
    border: solid 1px #d6564f;
    background-color: #d6564f;
    color: #f48c8f;

    cursor: pointer;

    transition: color .2s linear, background-color .2s linear;
}

.btn:hover{
    color: #d6564f;
    background-color: #f48c8f;
}


/* Footer */

.footer {
    padding: 22px;
    background-color: #2d303a;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}