html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.6rem;
    background-color: #fefefe;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}


/* HEADER */

/* burger */

.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px 0;
    z-index: 10;
  }
  .burger:focus {
    outline: none;
  }

  .burger .burger__item {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
    border-radius: 5px;
  }
  .burger .burger__item:before, .burger .burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 5px;
  }
  .burger__item:before {
    top: -10px;
  }
  .burger__item:after {
    bottom: -10px;
  }
  .burger--active .burger__item {
    transform: rotate(90deg);
  }

.header {
    padding: 34px 0 31px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    position: relative;
}

.header-fixed {
    padding: 20px 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .95;
    z-index: 11;
    animation-name: show_header;
    animation-duration: .5s;

}

@keyframes show_header {
    0% {
        opacity: 0;
        top: -70px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__logo {
    margin-top: -1px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.55px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;

}

.header__logo span {
    color: #f06c64;
}

.nav__list {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;

    color: #fff;
    list-style: none;
    text-transform: uppercase;
}

.nav__list_item {
    margin-right: 29px;
    cursor: pointer;
    position: relative;
}


.nav__list_item::after {
    content: "";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    right: -16px;

    transform: translateY(-50%);

}


.nav__list_item:last-child {
    margin-right: 0;
}

.nav__list_item:last-child::after {
    width: 0;
}


.nav__list_link {
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

.nav__list_link:hover {
    color: #f06c64;
    text-decoration: underline;
}

.nav__list_link-active {
    color: #f06c64;
}


/* Slider */


.fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }

.slider {
    height: 600px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}
.slider-blue {
    background-color: #648BF0;
    border-bottom: solid 6px #323746;
}

.slider__inner {
    position: relative;
}

.slider__item {
    display: flex;

}

.slider__item-sec {
    justify-content: center;
}

.slider__item img {
    max-width: 100%;
}

.iphone_ver {
    padding: 53px 0 0 72px;
    cursor: pointer;
}

.iphone_hor {
    padding: 174px 0 0 73px;
    cursor: pointer;

}

.arrow::before {
    content: "";
    width: 21px;
    height: 21px;
    border-top: 5px solid #ca4549;
    border-right: 5px solid #ca4549;
    cursor: pointer;
    transition: border-color .2s linear;
}

.arrow:hover::before {
    border-color: #2d303a;
}
.arrow--prev::before {
    position: absolute;
    top: 284px;
    left: 5px;
    z-index: 10;
    transform: rotate(-135deg);
}
.arrow--next::before {
    position: absolute;
    top: 284px;
    right: 3px;
    z-index: 10;
    transform:rotate(45deg);
}


/* Services */

.services {
    padding: 63px 0 31px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff
}

.services__title {
    margin-bottom: 16px;
    font-family: 'Lato Black', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #666d89;
    word-spacing: -1.5px;
}

.services__subtitle {
    margin-bottom: 43px;

    font-size: 1.8rem;
    font-weight: 300;
    color: #767e9e;
    line-height: 30px;
    text-align: justify;
    letter-spacing: -.5px;
}

.services__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    margin-bottom: 30px;
    width: 33%;
    max-width: 299px;
    max-height: 93px;
    padding-left: 79px;

    overflow: hidden;

    position: relative;
}

.services__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    padding: 15px;
    border: 2px solid #666d89;
    border-radius: 50%;

    position: absolute;
    top: 3px;
    left: 0;
}


.services__item__title {
    margin-bottom: 9px;

    color: #666d89;
    font-family: "Lato Black", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;

}
.services__item__title-des {
    letter-spacing: -.25px;
}

.services__item__title-sup {
    letter-spacing: -.5px;
}

.services__item__text {

    color: #767e9e;
    font-size: 1.2rem;
    line-height: 21px;
    text-align: justify;
}

.services__item__text-sup {
    letter-spacing: -.15px;
}

/* Portfolio */



.portfolio {
    padding: 62px 0 46.5px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746 ;
}

.portfolio__title {
    margin-bottom: 22px;

    font-family: "Lato Black", sans-serif;
    font-size: 3rem;
    font-weight: 400;

    color: #666d89;
}

.portfolio__subtitle {
    margin-bottom: 12px;

    font-family: 'Lato Regular', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;

    color: #767e9e;
    letter-spacing: -0.5px;
    text-align: justify;
}


.portfolio__menu {
    margin-bottom: 19px;
}

.portfolio__list {
    display: flex;
    list-style: none;
}

.portfolio__list_item {
    margin-right: 10px;
    padding: 0px 6px;

    font-family: 'Lato Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    border: 1px solid #666d89;
    border-radius: 5px;

    color: #767e9e;

    cursor: pointer;

    transition: border-color .2s linear, color .2s linear;
}


.portfolio__list_item-active {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.portfolio__list_item:hover {
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.portfolio__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.portfolio__item {
    margin-bottom: 20px;

    max-width: 220px;
    max-height: 187px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio__item-active {
    border: solid 5px #F06C64;
}

.portfolio__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* About Us */

.about{
    padding: 72px 0 67.5px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff ;
}

.about__title {
    margin-bottom: 26px;

    font-family: "Lato Black", sans-serif;
    font-size: 3rem;
    font-weight: 400;

    line-height: 17.86px;
    letter-spacing: -0.45px;

    color: #666d89;
}

.about__subtitle {
    margin-bottom: 43px;

    font-family: 'Lato Regular', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;

    color: #767e9e;

    line-height: 30px;
    text-align: justify;
    letter-spacing: -0.5px;
}

.about__inner {
    display: flex;
    /* justify-content: space-between; */
}

.about__item {
    width: 33,3%;
    max-width: 300px;
    overflow: hidden;

}
.about__item:first-child {
    margin-right: 19px;
}
.about__item:last-child {
    margin-left: 21px;
}
.about__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.about__name {
    margin-top: 18px;
    font-family: "Lato Black", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 17.86px;
    letter-spacing: -.2px;
    color: #666d89;
}

.about__text {
    margin: 10px 0 23px;

    color: #767e9e;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 21.56px;

    text-align: justify;
    letter-spacing: -.135px;
}

/* Social */

.social {
    display: flex;

}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;   
    border-radius: 50%;
    margin-right: 8px;
    transition: background-color .2s linear;
}

.social__item:last-child {
    margin-right: 0;
}

.social__item:hover {
    background-color: #666d89;
}

.social__item:hover .social__icon {
    fill: #ac3632;
}

.social__icon {
    fill: #666d89;
    display: block;
    height: 14px;
    transition: fill .2s linear;    
}

/* Get a Quote */
.quote {
    padding: 72px 0 6px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.qoute__title {
    margin-bottom: 26px;

    font-family: "Lato Black", sans-serif;
    font-size: 3.0rem;
    font-weight: 400;
    color: #f0d8d9;

    line-height: 17.86px;
    letter-spacing: -.52px;
}

.quote__subtitle {
    margin-bottom: 42px;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
    color: #f0d8d9;
    text-align: justify;
    letter-spacing: -.52px;
}

.quote__inner {
    display: flex;
    justify-content: space-between;
}

.quote__contact_info {
    width: 33.33%;
    padding-left: 12px;
}

.quote__contact_title {
    margin-bottom: 9px;
    font-family: "Lato Black", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #f0d8d9;
}

.quote__contact_text {
    margin-bottom: 24px;
    max-width: 298px;
    color: #f0d8d9;
    font-family: 'Lato Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;

    text-align: justify;
    letter-spacing: -.1px;
}

.quote__contact_list {
    list-style: none;
}

.quote__contact_item {
    padding-left: 2px;
    margin-bottom: 1px;
}
.quote__contact_item:first-child {
    padding-left: 4px;
}

.quote__contact_item:first-child img {
    margin-right: 9px;
}

.quote__contact_item:last-child {
    margin-top: 3px;
    padding-left: 1px;
}

.quote__contact_item img {
    margin-right: 8px;
}

.quote__contact_link {
    text-decoration: none;
    color: #f0d8d9;
    font-family: 'Lato regular', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -.2px;
}

.quote__contact_link:hover {
    text-decoration: underline;
}


/* Form */

.form {
    width: 66.66%;
    padding-right: 7px;
}
.input {
    display: block;
    padding: 12px 15px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;

    color: #f48c8f;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
}

.input::placeholder {
    color: #f48c8f;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.input--area {
    resize: none;
    height: 202px;
}

.btn {
    display: block;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Lato Regular', sans-serif;
    border: none;
    background-color: #FBC65F;
    color: #886A30;
    outline: none;
    text-transform: uppercase;

    cursor: pointer;

    transition: color .2s linear, background-color .2s linear;
}

.btn:hover{
    color: #d6564f;
    background-color: #f48c8f;
}


/* Footer */

.footer {
    padding: 22px;
    background-color: #2d303a;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    padding-top: 3px;
    padding-left: 2px;
}



/* Modal */

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: scroll;
}

.modal {
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: #4d2021;
    position: relative;
    border-radius: 10px;
}

.modal__title {
    margin-bottom: 15px;
    text-align: center;
    color: #926869;

    font-family: 'Lato Regular', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.modal__text {
    margin-bottom: 15px;
    color: #926869;

    font-family: 'Lato Regular', sans-serif;
    font-size: 24px;
    font-weight: 400;

    word-break: break-all;
}


@media (max-width:778px) {
    /* Slider */
    .slider {
        height: 452px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider__item {
        justify-content: center;
        align-items: center;
    }

    .iphone_ver {
        padding: 0;
        margin-right: 35px;
    }
    .iphone_ver {
        width: 200px;
    }
    .iphone_hor {
        padding: 0;
        margin-top: 55px;
    }
    .iphone_hor img {
        width: 350px;
    }

    .arrow--prev::before {
        top: 200px;
        z-index: 5;
    }
    .arrow--next::before {
        top: 200px;
        z-index: 5;
    }

    /* Services */
    .services__item {
        width: 50%;
    }

    /* Footer */

    .footer__copyright {
        display: none;
    }

    .footer__inner {
        justify-content: center;
    }
}

@media (max-width:385px) {

    .container {
        padding: 0 30px;
    }

    .burger {
        display: block;
    }
    
    /* Header */
    .header {
        padding: 24px 0;

    }

    

   
    .nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
        flex-direction: column;
        justify-content: center;
        
        text-align: center;
        background-color: #2d303a;
        width: 278px;
        height: 100vh;
    }
    .nav__list {
        flex-direction: column;
        font-size: 2.4rem;
        align-items: baseline;
        margin: 0 auto;
    }
    .nav__list_item {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .nav__list_item::after {
        display: none
    }

    .header__inner {
        justify-content: space-between;
        align-items: center;
    }


    .show {
        display: flex;
    }

    .slider {
        height: 220px;
    }

    .iphone_ver {
        width: 80px;
        margin-right: 15px;
    }

    .iphone_hor {
        margin-top: 28px;
    }

    .iphone_hor img {
        width: 150px;
    }

    .arrow--prev::before {
        top: 80px;
    }
    .arrow--next::before {
        top: 80px;
    }

    /* services */
    .services {
        padding: 30px 0 0;

    }
    .services__item {
        width: 100%;
    }

    /* portfolio */

    .portfolio {
        padding: 40px 0 0;
    }
    .portfolio__inner {
        justify-content: space-between;
    }
    .portfolio__item {
        max-width: 151px;
        width: 50%;
    }

    /* About */
    
    .about {
        padding: 30px 0 0;
    }

    .about__inner {
        flex-wrap: wrap;
    }

    .about__item {
        width: 100%;
        margin-bottom: 25px ;
    }
    .about__item:first-child {
        margin-right: 0;
    }

    .about__item:last-child {
        margin-left: 0;
    }

    .about__text {
        margin: 5px 0;
    }

    /* Quote */

    .quote {
        padding: 40px 0;
    }

    .quote__inner {
        flex-wrap: wrap;
    }

    .form {
        width: 100%;
    }
    
    .btn {
        width: 100%;
        margin-bottom: 25px;
    }
    .quote__contact_info {
        width: 100%;
    }


    /* Modal */

    .modal {
        max-width: 355px;
    }
}



  
 